{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">

                    <h1><span class="text-navy"><i>{{ context }}</i></span></h1>

                    <p>
                       <h2> A web application for Sentiment Analysis using Supervised Machine Learning.</h2>
                    </p>


                </div>
            </div>
        </div>
    </div>

{% endblock %}