{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">

                    <h2><span class="text-navy"><i>{{ return_dict.product_title }}</i></span></h2>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Sentiment Analysis</h5>
                </div>
                <div class="ibox-content">
                    <div class="flot-chart">
                        <div class="flot-chart-pie-content"
                             id="flot-pie-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $(function () {
            var data = [
                {% for sentiment in return_dict.sentiment_analysis %}
                    {
                        label: "{{ sentiment.sentiment__sentiment }}",
                        data: {{ sentiment.total }},
                        color: "{{ sentiment.color__color }}",
                    },
                {% endfor %}
            ];


            var plotObj = $.plot($("#flot-pie-chart"), data, {
                series: {
                    pie: {
                        show: true
                    }
                },
                grid: {
                    hoverable: true
                },
                legend: {
{#                    show: false#}
                    labelBoxBorderColor: "none"
                },
                tooltip: true,
                tooltipOpts: {
                    content: "%p.0%, %s", // show percentages, rounding to 2 decimal places
                    shifts: {
                        x: 20,
                        y: 0
                    },
                    defaultTheme: false
                }
            });

        });
    </script>
{% endblock %}